Hi,

Thanks for reaching out{% if entities.company %} from {{ entities.company }}{% endif %}. We've logged your request{% if entities.ticket_ref %} (ref {{ entities.ticket_ref }}){% endif %} regarding "{{ subject }}" and a member of our support team will follow up shortly.

Best,
Support Team