Hi,

We've flagged your message regarding "{{ subject }}" as urgent and it's being escalated immediately{% if entities.ticket_ref %} (ref {{ entities.ticket_ref }}){% endif %}. Someone will be in touch as soon as possible.

Best,
Support Team